.table td, .table th {
    white-space: nowrap;
    vertical-align: middle;
}

.menu {
    line-height: 55px;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.menu .link {
    color: #12263f;
    padding: .625rem 1rem;
    text-decoration: none;
}