<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row mb-3">
        <div class="col">
          <h4>Servers / <%= @server.nickname %></h4>
        </div>
        <div class="col text-right">
          <a href="<%= server_path(@server) %>" class="btn btn-danger delete">Delete</a>
          <a href="<%= edit_server_path(@server) %>" class="btn btn-primary">Edit</a>
        </div>
      </div>

      <div class="form-group">
        <label>Runner command</label>
        <textarea class="form-control">* * * * * curl -s https://sssm.ml/runner.sh | bash -s <%= @server.token %></textarea>
      </div>
    </div>
  </div>
</div>