<h2><a href="<%= servers_path %>">Servers</a> / <%= @server.hostname %></h2>

<div>
  Runner command:
  <textarea style="width: 100%">* * * * * curl -s https://meeseeks.ml/runner.sh | bash -s <%= @server.token %></textarea>
</div>