<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="my-5">
        <h1>Stupid Simple Server Monitor</h1>
        <p class="lead">Open Source, Cloud and Secure multiple server monitoring.</p>
        <hr class="my-4">
        <p>With a single line in your crontab, keep up with your server status, get notified and more.</p>
        <p class="lead">
          <a class="btn btn-primary" href="#" role="button">Create an account</a>
        </p>
      </div>

      <div class="text-center mb-5">
        <h2>How it works?</h2>
      </div>

      <div class="row">
        <div class="col-xl-4 mb-5">
          <img src="/img/undraw_server.svg" style="height: 250px" class="mb-3">
          <h4>Step 1 - Sign up</h4>
          <p>Create your account with an username and password. No e-mail, phone or logging in with third party
            services.</p>
        </div>
        <div class="col-xl-4 mb-5">
          <img src="/img/undraw_maintenance.svg" style="height: 250px" class=" mb-3">
          <h4>Step 2 - Link your server</h4>
          <p>Now that you are logged in, click the "New server" button. This will generate a random token and give you a
            line to paste in your server's crontab.</p>
        </div>
        <div class="col-xl-4 mb-5">
          <img src="/img/undraw_cloud_sync.svg" style="height: 250px" class=" mb-3">
          <h4>Step 3 - That's all folks!</h4>
          <p>The crontab you pasted will run our data collector script, send to our servers and generate a simple but
            powerful dashboard for how many servers you need.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6">
          <h4>Data collected</h4>

          <ul>
            <li>Hostname</li>
            <li>IP</li>
            <li>Linux Distribution</li>
            <li>Uptime</li>
            <li>Total and used RAM</li>
            <li>Total and used Disk (partition /)</li>
          </ul>

          <p>...more to come!</p>

          <ul>
            <li>Processes</li>
            <li>Boot time and systemd info</li>
            <li>All disks info</li>
            <li>Specific services status</li>
          </ul>
        </div>
        <div class="col-xl-6">
          <h4>Your privacy</h4>
          <p>You don't provide any email or contact form, so there are no communications. The data sent to our servers
            is stored and deleted on your command. There is NO SOFT DELETE. You can delete your account, servers
            information and reports at any time.</p>

          <h4>Open Source</h4>
          <p>This is a fully open source project, and needs active help and contribuiton from whoever feels like. Check out the GitHub page at <a href="https://github.com/fbocolowski/sssm">https://github.com/fbocolowski/sssm</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>