<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="robots" content="all, follow">

<!-- Favicon -->
<link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon"/>

<!-- Title and basic SEO -->
<title>SSSM - Stupid Simple Server Monitor</title>
<meta name="description" content="UN*X Server monitoring app">
<meta name="robots" content="index, follow">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

<!-- jQuery -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>

<!-- Bootstrap -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Charts -->
<script th:src="@{/js/chartkick.min.js}"></script>
<script th:src="@{/js/highcharts.min.js}"></script>

<!-- Main -->
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/js/main.js}"></script>