body {
    font-family: 'Open Sans', sans-serif !important;
}

.table-thumb img {
    height: 30px;
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}

.clickable {
    cursor: pointer;
}