<div class="container">
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h4>Login</h4>

      <%= form_tag(login_path, method: "post") do %>
        <div class="form-group">
          <label>Username</label>
          <%= text_field_tag(:username, params[:username], autofocus: true, class: "form-control") %>
        </div>

        <div class="form-group">
          <label>Password</label>
          <%= password_field_tag(:password, "", class: "form-control") %>
        </div>

        <div class="text-right">
          <%= submit_tag("Submit", class: "btn btn-primary") %>
        </div>


      <% end %>
    </div>
  </div>
</div>