body {
    padding-bottom: 1.5rem;
}

.table-thumb img {
    height: 30px;
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}

.clickable {
    cursor: pointer;
}

.menu {
    line-height: 55px;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.menu .link {
    color: #12263f;
    padding: .625rem 1rem;
    text-decoration: none;
}

.menu .logo {
    max-height: 40px;
    padding: .5rem;
}

.sorting-icon {
    height: 15px;
}

.table td, .table th {
    vertical-align: middle;
}

.menu .feather {
    width: 22px;
    height: 22px;
}