<div class="rodape">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <a href="https://github.com/fbocolowski/sssm" target="_blank"><span data-feather="github"></span></a>
      </div>
    </div>
  </div>
</div>