<div class="rodape">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <%= link_to "https://github.com/fbocolowski/sssm", target: '_blank' do %>
          <span style="color: #000" data-feather="github"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>